<a href="https://colab.research.google.com/github/8125977/Basics_Python_Codes/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum of prime numbers

In [ ]:
n=int(input())
sum=0
for i in range(2,n+1):
    if n%i==0:
      sum+=i
print(sum)

Right angle triangle

In [10]:
n=5
for i in range(n):
   print("*"*(i+1))

*
**
***
****
*****

Inverted rightangle triangle

In [13]:
n=5
for i in range(n):
   print("*"*(n-i))

*****
****
***
**
*

Triangle pyramid

In [19]:
n=5
for i in range(n):
   print(" "*(n-i)+"* "*(i+1))

     *
    * *
   * * *
  * * * *
 * * * * *

Inverted triangle pyramid

In [24]:
n=5
for i in range(n):
   print(" "*i+" *"*(n-i))

 * * * * *
  * * * *
   * * *
    * *
     *